body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #b8b8b8;
}

.container {
    background-color: darkslategray;
    padding: 15px;
    border-radius: 8px;
    height: 300px;
}

.screen {
    display: flex;
    align-items: center;
    height: 45px;
    background-color: black;
    color: lightgray;
    margin-bottom: 25px;
    padding: 4px;
    font-size: larger;
}

.buttons {
    display: flex;
}

.numberButtons {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    justify-content: center;
    gap: 3px;
}

.numberButtons .num{
    background-color: orange;
}

.operatorButtons {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    justify-content: center;
    gap: 3px;
}

.operatorButtons .op {
    background-color: darkcyan;
}

button {
    height: 45px;
    width: 45px;
    border-radius: 8px;
    color: aliceblue;
    background-color: darkgray;
    font-size: large;
    font-weight: bold;
}